section.container-fluid.content--header-section {
    padding-top: 30px;
}

.content--info-block .font--36 {
    margin: 0px 0 0px 0px;
}

.content--info-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}

span.content--quantity-number {
    margin-bottom: 2px;
    margin-left: 10px;
    font-size: 14px;
    color: #b6b6b6;
}

section.container-fluid.main-content--section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 3fr 9fr;
    grid-template-columns: 3fr 9fr;
}

.main-content-filter-title-block {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 11fr 1fr;
    grid-template-columns: 11fr 1fr;
    margin-bottom: 20px;
}

.filter-item--title a {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 11fr 1fr;
    grid-template-columns: 11fr 1fr;
}

.filter-item a {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1.5fr 9.5fr 1fr;
    grid-template-columns: 1.5fr 9.5fr 1fr;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.filter-item--price-block {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(2, 6fr);
}

.filter-item--price input {
    width: 100%;
    border: 1px solid #b6b6b6;
    padding: 10px;
    outline: none;
    height: 40px;
}

.filter-item--img img {
    max-width: 100%;
}

span.filter-item--name {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.filter-item {
    margin-bottom: 10px;
}

span.filter-item--quantity {
    text-align: center;
    color: white;
    border-radius: 1rem;
    font-weight: bold;
    background-color: #1bc8d6;
    padding: 0 5px;
}

.main-content--filter-item:not(:last-child) {
    margin-bottom: 20px;
}

.filter-item--title {
    margin-bottom: 10px;
}

.main-content-filter-title-block .material-icons {
    text-align: right;
}

span.main-content--filter-title {
    font-weight: bold;
}

span.filter-item--name {
    color: #0B2445;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: 10px;
}

span.filter-item--title-name {
    color: #0B2445;
}

.filter-item--price:first-child input {
    border-right: none;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.filter-item--price input:focus {
    border-color: #2c51e7;
}

.main-content--filter-item {
    max-height: 400px;
}

.filter-item--block {
    overflow-y: auto;
    max-height: 370px;
}

.button {
    pointer-events: auto;
    cursor: pointer;
    margin: 0;
    font-family: inherit;
    position: relative;
}

.button::before,
.button::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.button--mimas {
    letter-spacing: 0.05rem;
    font-size: 12px;
    border-radius: 1rem;
    padding: 10px 25px;
    overflow: hidden;
    color: #2c51e7;
    background: #2c51e7;
}

.button--mimas span {
    position: relative;
}

.button--mimas::before {
    content: '';
    overflow: hidden;
    background: white;
    -webkit-box-shadow: inset 0 0 0 1px #2c51e7;
            box-shadow: inset 0 0 0 1px #2c51e7;
    border-radius: 1rem;
    -webkit-transform: skew(0deg);
        -ms-transform: skew(0deg);
            transform: skew(0deg);
    -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
    transition: -webkit-transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
    -o-transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1), -webkit-transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.button--mimas:hover::before {
    -webkit-transform: translate3d(100%, -100%, 0);
            transform: translate3d(100%, -100%, 0);
}

a.button.button--mimas:hover span {
    color: white;
}

.link {
    cursor: pointer;
    position: relative;
}

.link::before,
.link::after {
    position: absolute;
    width: 100%;
    height: 2px;
    background: currentColor;
    top: 100%;
    left: 0;
    pointer-events: none;
}

.link::before {
    content: '';
}

.link--metis::before {
    -webkit-transform-origin: 100% 50%;
        -ms-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    -webkit-transform: scale3d(0, 1, 1);
            transform: scale3d(0, 1, 1);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
}

.link--metis:hover::before {
    -webkit-transform-origin: 0% 50%;
        -ms-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
    -webkit-transform: scale3d(1, 2, 1);
            transform: scale3d(1, 2, 1);
}

.filter-item--title {
    border-bottom: 1px solid #b6b6b6;
}

.main-content--mob-filter-header-block {
    position: relative;
    margin-bottom: 30px;
    text-align: center;
}

.mob-filter--header-title {
    font-size: 22px;
    font-weight: bold;
}

.mob-filter--exit-btn-block {
    position: absolute;
    right: 0;
    top: 3px;
    cursor: pointer;
    display: -ms-grid;
    display: grid;
}

.mob-filter--exit-btn-block span {
    font-size: 29px;
    font-weight: bold;
}
.main-content--mob-filter-header-block {
    display: none;
}

.desc--filter-btn {
    display: block;
}

.mob--filter-btn {
    display: none;
}

.filter-item--show-all-btn {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.filter-item--show-all-btn a {
    color: #2c51e7;
}

.filter-item--price:last-child input {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}


.filter-item--price:first-child input:focus {
    border-right: 1px solid #2c51e7;
}

.filter-item--img {
    width: 100%;
    height: 100%;
}

.main-content--filter-item:nth-child(2) .filter-item--block img {
    height: 100%;
}

.top-product--more-btn a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
}

section.container-fluid.content--header-section > a {
    display: -webkit-box;
    height: 34px;
    margin-bottom: 20px;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    width: 88px;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@media (min-width: 991px) {
    .main-content--filter-item-block {
        display: block !important;
    }
    .main-content--product-block {
        margin-left: 20px;
    }
}

@media (max-width: 991px) {
    .desc--filter-btn {
        display: none;
    }

    .mob--filter-btn {
        display: block;
        cursor: pointer;
    }

    .main-content--mob-filter-header-block {
        display: -ms-grid;
        display: grid;
    }

    section.container-fluid.content--header-section {
        padding-bottom: 0;
    }

    section.container-fluid.main-content--section {
        -ms-grid-columns: 12fr;
        grid-template-columns: 12fr;
    }

    .main-content--filter-item-block {
        position: fixed;
        top: 0;
        background: white;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 10px;
        z-index: 3;
        overflow-y: auto;
        display: none;
    }

    .filter-item a {
        -ms-grid-columns: 0.8fr 10.7fr 0.5fr;
        grid-template-columns: 0.8fr 10.7fr 0.5fr;
    }

    .filter-item--title a span:last-child {
        text-align: right;
    }
}

@media(max-width: 768px) {
    .filter-item a {
        -ms-grid-columns: 1fr 10.5fr 0.5fr;
        grid-template-columns: 1fr 10.5fr 0.5fr;
        grid-auto-rows: 37px;
    }
}

@media (max-width: 576px) {
    .content--info-block {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: start;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: start;
        margin-bottom: 20px;
    }

    span.content--quantity-number {
        margin: 0;
    }

    a.button.button--mimas {
        margin-top: 0;
        margin-bottom: 20px;
    }
}

@media(max-width: 470px) {
    .filter-item a {
        -ms-grid-columns: 1.5fr 10fr 0.5fr;
        grid-template-columns: 1.5fr 10fr 0.5fr;
    }
}
