/* standard classes*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
body {
    background: rgb(44,81,231);
    background: -webkit-gradient(
            linear, left bottom, left top, from(rgba(44,81,231,1)), color-stop(50%, rgba(44,81,231,1)), color-stop(95%, rgba(27,200,214,1)), to(rgba(44,81,231,1)));
    background: -o-linear-gradient(
            bottom, rgba(44,81,231,1) 0%, rgba(44,81,231,1)  50%, rgba(27,200,214,1) 95%, rgba(44,81,231,1) 100%);
    background: linear-gradient(
            0deg, rgba(44,81,231,1) 0%, rgba(44,81,231,1)  50%, rgba(27,200,214,1) 95%, rgba(44,81,231,1) 100%);
    font-family: 'Roboto', sans-serif;
}

body main {
    max-width: 100%;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

body > * {
    max-width: 1400px;
    margin: auto;
}

main > section {
    max-width: 1400px;
    margin: auto;
}

a, a.hover {
    color: inherit;
    text-decoration: none;
}

.font--14 {
    -webkit-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
    font-size: 14px;
    color: rgba(255,255,255,.6);
}

.font--14:hover {
    -webkit-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
    color: #fafafa;
}

.font--36{
    font-size: 36px;
    color: black;
    font-weight: bold;
}

.font--36-white{
    font-size: 25px;
    color: white;
}

.font--18-black {
    font-size: 18px;
    color: black;
}

.font--14-black{
    font-size: 14px;
    color: black;
}

.font--16-black-weight{
    font-size: 16px;
    font-weight: bold;
    color: black;
}

.font--14-grey {
    font-size: 14px;
    color: #b6b6b6;
}
.font--14-grey-sale {
    font-size: 14px;
    white-space: nowrap;
    color: #b6b6b6;
    text-decoration: line-through;
}

.font--14-pink {
    font-size: 14px;
    color: red;
    font-weight: bold;
}

.font--16-pink {
    -webkit-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
    font-size: 14px;
    color: #2c51e7;
}

.font--16-pink:hover {
    -webkit-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
    text-decoration: underline;
}

.font--18-white {
    font-size: 18px;
    color: white;
}

.font--18 {
    font-size: 18px;
    color: rgba(255,255,255,.7);
}

.font--18:hover {
    color: white;
}

.font--18-grey{
    font-size: 18px;
    color: rgba(255,255,255,.7);
}

.font--14-grey-footer {
    font-size: 14px;
    color: rgba(255,255,255,.7);
}

.font--14-grey-footer:hover{
    color: white;
}

.color--blue-main-bg{
    background-color: #2c51e7;
}

.color--blue-main{
    color: #2c51e7;
}

.font--25-white {
    font-size: 25px;
    color: white;
}

.font--25-black {
    font-size: 25px;
    color: black;
    font-weight: bold;
}

*::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0);
}

*::-webkit-scrollbar {
    width: 3px;
    background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #888888;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

@media (max-width: 991px) {
    body main {
        margin-bottom: 0;
    }
}
